<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title-step">Children</h1>
      <p class="text-question">Do you have any children?</p>
      <div class="form-radio-buttons">
        <label class="text-label-radio-button">
          <input class="radio-button" type="radio" name="haveChild" [(ngModel)]="haveChild" value="yes">
          Yes
        </label>
        <label class="text-label-radio-button">
          <input class="radio-button" type="radio" name="haveChild" [(ngModel)]="haveChild" value="no">
          No
        </label>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="haveChild === 'yes'">
    <div class="col-sm-12">
      <div class="module-background" [ngClass]="{ 'white-background' : saved[0] }">
        <h2 class="module-title" *ngIf="!addMore[1]">CHILD</h2>
        <h2 class="module-title" *ngIf="addMore[1]">CHILDREN</h2>
        <!-- Add children to the store -->
        <div *ngFor="let child of children; let i = index">
          <div class="form-inline" [ngClass]="{'grey-background' : !saved[i] }">
            <!-- Label for children and remove -->
            <div class="form-inline-label" *ngIf="addMore[i+1] || (i>0 && addMore[i])">
              <p class="section-title">
                <span *ngIf="i === 0">First Child</span>
                <span *ngIf="i === 1">Second Child</span>
                <span *ngIf="i === 2">Third Child</span>
                <span *ngIf="i > 2">{{ i+1 }}<sup>th</sup> Child</span>
              </p>
              <a class="remove-label" (click)="removeChild(children[i].firstName, children[i].lastName)">Remove</a>
            </div>
            <!-- Add child info -->
            <div class="module-input">
              <label class="text-label" for="firstName{{i}}">First Name*</label>
              <input type="text" 
                    class="field form-control mb-2 mr-sm-2 mb-sm-0" 
                    name="firstName{{i}}" 
                    [(ngModel)]="children[i].firstName" 
                    value=''
                    required >
            </div>
            <div class="module-input">
              <label class="text-label" for="lastName{{i}}">Last Name*</label>
              <input type="text" 
                    class="field form-control mb-2 mr-sm-2 mb-sm-0" 
                    name="lastName{{i}}"
                    [(ngModel)]="children[i].lastName"
                    value=''
                    required >
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- Save and cansel buttons -->
        <div class="module-buttons" 
              *ngIf="!saved[counter-1] || (!saved[counter] && addMore[counter]) || counter === 0" 
              [ngClass]="{'grey-background' : !saved[counter] }">
          <button type="button" class="button button-cancel" (click)="cancel()">CANCEL</button>
          <button type="button" 
                  class="button button-save" 
                  (click)="addChild(children[counter].firstName, children[counter].lastName, counter)">
                  SAVE
          </button>
        </div>
      </div>
    </div>
    <!-- Add more children question -->
    <div class="col-sm-12 more-children" *ngIf="haveMore && counter !== 0">
      <p class="text-question">Do you have any other children?</p>
      <div class="form-radio-buttons">
        <label class="text-label-radio-button">
          <input class="radio-button" type="radio" name="haveMoreChild" (click)="addMoreChild('true')" value="true">
          Yes
        </label>
        <label class="text-label-radio-button">
          <input class="radio-button" type="radio" name="haveMoreChild" value="false">
          No
        </label>
      </div>
    </div>

  </div>
</div>
